<!doctype html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport'
          content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Password Reset</title>
</head>
<body>
<h3>Hi, {{ first_name }}</h3>
<p>A password reset was initiated on your account</p>
<p>Device information</p>
<p>Operating System: {{ operating_system }}</p>
<p>Browser: {{ browser }}</p>
<p>Time and Date: {{ date }}</p>
<p>Ip Address: {{ ip_address }}</p>
<br>
<p>If you are the one that initiated this, kindly follow the link below to reset your password</p>
<a href="{{ reset_password_email_path }}">Reset Password</a>
</body>
</html>
